@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Roboto&display=swap');

* {
  margin: 5px;
  padding: 5px;
}

body {
  font-family: 'Big Shoulders Stencil Display', cursive;
  background: #ffffff;
  color: #C03A1D;
  line-height: 1.5;
  font-size: 0.875rem;
}

h1 {
  font-weight: bold;
  font-size: 400%;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: 'Roboto', sans-serif;
}
