@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display:wght@600&family=Roboto&display=swap');

* {
  margin: 5px;
  padding: 5px;
}

body {
  font-family: 'Big Shoulders Stencil Display', cursive;
  background: #ffffff;
  color: #C03A1D;
  line-height: 1.5;
  font-size: 0.875rem;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: 'Roboto', sans-serif;
  color: #5A2525;
}

h1 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  background: #ffffff;
  color: #C03A1D;
  text-decoration: none;
  font-weight: bold;
  font-size: 400%;
}

h2 {
  font-family: 'Big Shoulders Stencil Display', cursive;
  background: #ffffff;
  color: #C03A1D;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: #5A2525;
  font-family: 'Big Shoulders Stencil Display', cursive;
  text-decoration: none;
}

div {
  margin: 50px;
  padding-left: 5px;
}

#demo {
  font-weight: bold;
  color: #E3ACAC;
}
